<footer id="footer">
    <div class="container footer__content1">
        <a class="footer__logo" href="#sectionHero">Christoph</a>
        <div class="footer__copyright">
            &#169; Christoph Wagner {{currentYear}}
        </div>
        <div class="footer__links">
            <a href="https://github.com/43and18zeroes"><img src="assets/img/hero_btns/hero-github.png" alt=""></a>
            <a href="mailto: christoph@cwgermany.de"><img src="assets/img/hero_btns/hero-mail.png" alt=""></a>
            <a href="#"><img src="assets/img/hero_btns/hero-linkedin.png" alt=""></a>
        </div>
    </div>

    <div class="container footer__content2">
        <a class="footer__impressum" href="#sectionHero">Impressum</a>     
    </div>

</footer>