<footer id="footer">

    <div class="footer__content container">

        <div class="footer__left">
            <a class="footer__logo" href="#sectionHero">Christoph</a><br>
            <a class="footer__imprint" routerLink="/imprint">Impressum</a>
            <button class="imprint__btn">
                <span>Impressum</span>
            </button>
        </div>

        <div class="footer__center">
            &#169; Christoph Wagner {{currentYear}}
        </div>

        <div class="footer_right">
            <a href="https://github.com/43and18zeroes"><img src="assets/img/hero_btns/hero-github.png" alt=""></a>
            <a href="mailto: christoph@cwgermany.de"><img src="assets/img/hero_btns/hero-mail.png" alt=""></a>
            <a href="#"><img src="assets/img/hero_btns/hero-linkedin.png" alt=""></a>
        </div>


        <section class="imprint__popup is__active">

            <div class="container imprint__content">
                <div class="imprint__header">
                    <h1>Impressum</h1>
                    <button (click)="closeImprint()" class="imprint__close">
                        <span class="imprint__close__bar"></span>
                    </button>
                </div>

                <h2>Angaben</h2>
                <p>Christoph Wagner<br>
                    München</p>
                <h2>Kontakt</h2><br>
                <a href="mailto: christoph@cwgermany.de">christoph@cwgermany.de</a>

            </div>

        </section>



    </div>





</footer>