@import "../../styles/settings/_variables.scss";

footer {
    border-top: 4px solid $light-blue;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: $dark-blue-bg;
    z-index: 10;
    
    a {
        text-decoration: none;
        color: white;
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__left {
    width: 216px;
}

.footer__logo {
    font-size: 28px;
    font-weight: 900;
}

.footer__center {
    font-size: 23px;
}

.footer_right {
    width: 216px;
    text-align: right;

    a {
        margin-left: 42px;
    }
}