<section class="aboutme__section noSelect">
    <div class="anchor" id="aboutMe"></div>
    <div class="aboutme__bgfog">
        <img src="assets/img/webp/aboutme/bluebg.webp" alt="">
    </div>
    <div class="container aboutme__content">

        <div class="aboutme__text">
            <div class="aboutme__intro">
                <h2>About me</h2>
                <p>Hi, I am a Web Developer and my passion is to create great applications with JavaScript and
                    Angular.<br><br>
                    After working in E-Commerce and content management for some time, I decided to specialize in web
                    development. In my current job as content manager I am the go to guy in my company when it comes to
                    HTML, CSS and JavaScript. I already enjoyed building websites and therefore decided to build a broad
                    portfolio while getting constant code reviews. Now I am looking forward to work in web development
                    full time.</p>
            </div>
            <div class="aboutme__bullet">
                <div class="aboutme__bullet__single">
                    <img class="aboutme__bulb" src="assets/img/webp/aboutme/bulb.webp" alt="">
                </div>
                <div class="aboutme__bullet__text">
                    Main Tech Stack:
                    <ul>
                        <li>Angular & TypeScript</li>
                        <li>JavaScript</li>
                        <li>HTML, CSS, Material Design</li>
                    </ul>
                </div>
            </div>
            <div class="aboutme__bullet">
                <div class="aboutme__bullet__single">
                    <img class="aboutme__jigsawpiece" src="assets/img/webp/aboutme/jigsaw-piece.webp" alt="">
                </div>
                <div class="aboutme__bullet__text">
                    Side Stack:
                    <ul>
                        <li>Github</li>
                        <li>APIs (REST)</li>
                        <li>Google Firebase</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="aboutme__pic">
            <img src="assets/img/webp/aboutme/christoph-453.webp" alt="">
            <hr>
        </div>
    </div>
</section>