<section class="aboutme__section noSelect">
    <div class="anchor" id="aboutMe"></div>
    <div class="aboutme__bgfog">
        <img src="assets/img/webp/aboutme/bluebg.webp" alt="">
    </div>
    <div class="container aboutme__content">

        <div class="aboutme__text">
            <div class="aboutme__intro">
                <h2>About me</h2>
                <p>Hi, I am a german-speaking Front-End developer based in München, Germany. Since I was fascinated by
                    digital internet technology from the beginning, I created my first websites when I
                    was 13.<br><br>
                    In recent years I have created websites, such as self-promotion and book promotion, for friends and
                    acquaintances. Since I wanted to turn this passion into a main profession, the next logical step was
                    for me to train as a software developer at the Developer Akademy in Munich.<br><br>
                    Now I feel ready to start full-time in this profession.</p>
            </div>
            <div class="aboutme__bullet">
                <div class="aboutme__bullet__single">
                    <img class="aboutme__bulb" src="assets/img/webp/aboutme/bulb.webp" alt="">
                </div>
                <div class="aboutme__bullet__text">
                    Main Tech Stack:
                    <ul>
                        <li>Angular & TypeScript</li>
                        <li>Material Design & Bootstrap</li>
                        <li>JavaScript and Api</li>
                    </ul>
                </div>
            </div>
            <div class="aboutme__bullet">
                <div class="aboutme__bullet__single">
                    <img class="aboutme__jigsawpiece" src="assets/img/webp/aboutme/jigsaw-piece.webp" alt="">
                </div>
                <div class="aboutme__bullet__text">
                    Side Stack:
                    <ul>
                        <li>Github</li>
                        <li>Firebase</li>
                        <li>Scrum</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="aboutme__pic">
            <img src="assets/img/webp/aboutme/christoph-2.webp" alt="">
            <hr>
        </div>
    </div>
</section>