<section class="aboutme__section">
    <div class="aboutme__bgfog">
        <img src="assets/img/aboutme/bluebg.png" alt="">
    </div>
    <div class="container aboutme__content">

        <div class="aboutme__text">
            <div class="aboutme__intro">
                <h1>About me</h1>
                <p>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus
                    eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.</p>
            </div>
            <div class="aboutme__bullet">
                <div class="aboutme__bullet__single">
                    <img class="aboutme__bulb" src="assets/img/aboutme/bulb.png" alt="">
                </div>
                <div class="aboutme__bullet__text">Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </div>
            </div>
            <div class="aboutme__bullet">
                <div class="aboutme__bullet__single">
                    <img class="aboutme__jigsawpiece" src="assets/img/aboutme/jigsaw-piece.png" alt="">
                </div>
                <div class="aboutme__bullet__text">Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </div>
            </div>
        </div>

        <div class="aboutme__pic">
            <img src="assets/img/aboutme/aboutme-pic.png" alt="">
        </div>
    </div>
</section>