@import "../../styles/settings/_variables.scss";

.aboutme__section {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1000;
    padding-top: 150px;
    padding-bottom: 200px;
}

.aboutme__bgfog {

    img {
        position: absolute;
        right: 0;
        width: 200px;

        @media (max-width: 1400px) {
            width: 176px;
        }

        @media (max-width: 992px) {
            margin-top: -200px;
        }
    }
}

.aboutme__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.aboutme__text {
    max-width: 600px;
    margin-right: 24px;

    @media (max-width: 992px) {
        max-width: 100%;
        z-index: 9;
    }
}

.aboutme__intro {
    margin-bottom: 50px;

    h2 {
        @media (max-width: 992px) {
            font-size: 54px;
        }
    }
}

.aboutme__bullet {
    display: flex;
    margin-top: 16px;
}

.aboutme__bullet__single {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme__bullet__single {
    width: 150px;

    @media (max-width: 1150px) {
        width: 100px;
    }
}

.aboutme__bullet__text {
    flex: 1;
}

.aboutme__bulb {
    width: 35px;
    height: 50px;
}

.aboutme__jigsawpiece {
    width: 45px;
    height: 45px;
}

.aboutme__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 24px;

    img {
        background-color: $dark-blue-bg;
        border: solid 4px $light-blue;
        border-radius: 100%;
        z-index: 10;

        @media (max-width: 1150px) {
            width: 350px;
        }
    }

    hr {
        width: 35vw;
        position: absolute;
        right: 0;
        margin-top: 0px;
        border: 0;
        border-top: 4px solid $light-blue;
    }

    @media (max-width: 992px) {
        display: none;
    }
}

@media (max-width: 992px) {
    .aboutme__section {
        padding-top: 350px;
        padding-bottom: 100px;
    }
}

@media (max-width: 610px) {
    .aboutme__section {
        padding-top: 75px;
    }
}

@media (max-width: 486px) {
    .aboutme__section {
        padding-top: 50px;
    }
}