<section class="contact" id="contact">
    <div class="container">
        <div class="contact__headline">
            <h2>Contact</h2>
            <hr>
        </div>

        <div class="contact__content">
            <div class="contact__content__text">
                <h3>Got a problem to solve?</h3>
                <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
                </p>
                <p>Need a Front-End developer? Contact me!
                </p>
            </div>

            <div class="contact__content__form">

                <form (submit)="sendMail()" ngNativeValidate #myForm>
                    <input required type="text" name="name" #nameField>
                    <textarea required type="text" name="message" #messageField></textarea>
                    <button #sendButton>Send message :)</button>
                </form>

            </div>

        </div>
    </div>
</section>