<header>
    <div class="container header__container">
        <a class="header__logo" routerLink="/">Christoph</a>

        <div class="header__links hidden__mobile">
            <a href="#aboutMe">About me</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
        </div>
        <div class="header__links hidden__desktop">
            <span _ngcontent-bub-c53="" class="material-symbols-rounded mobile__menu"> menu </span>
        </div>
    </div>
</header>