@import "../../styles/settings/_variables.scss";

header {
    z-index: 99999999999;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: $header-height;
    position: fixed;
    background-color: rgba(20, 29, 47, 0.7);

    a {
        color: white;
        text-decoration: none;
        transition: 75ms ease-in-out;

        &:hover {
            text-shadow: white 0 0 4px;
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 28px;
    font-weight: 900;
}

.header__links {
    a {
        font-size: 26px;
        margin-left: 24px;
        font-weight: 400;
    }
}