@import "../../styles/settings/_variables.scss";

header {
    z-index: 99999999999;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: $header-height;
    position: fixed;
    background-color: $dark-blue-bg;

    a {
        color: white;
        text-decoration: none;
        transition: all 125ms ease-in-out;

        @media (hover: hover) {
            &:hover {
                color: $light-blue;
            }
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 28px;
    font-weight: 900;
}

.header__links {
    a {
        font-size: 26px;
        margin-left: 24px;
        font-weight: 400;
        cursor: pointer;
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;

    color: inherit;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    padding: 0;
    padding-left: 35px;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    margin: 12px 0px;
    transition: 0.15s ease-in-out;
}

.hamburger.is__active:before {
    transform: rotate(-45deg) translate(-10px, 10px);
}

.hamburger.is__active:after {
    transform: rotate(45deg) translate(-9.5px, -9.5px);
}

.hamburger.is__active .bar {
    opacity: 0;
}

.mobile__nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 999999999;
    background-color: rgba(20, 29, 47, 0.9);
    padding-top: 240px;
    transition: 0.2s ease-in-out;
}

.mobile__nav.is__active {
    left: 0;

    @media (min-width: 993px) {
        display: none;
    }
}

.mobile__nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: transparent;
    color: $primary-text;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
}