<section class="skills">
    <div class="anchor" id="skills"></div>
    <div class="container skills__content">

        <div class="skills__logos">
            <div class="skills__logo"><img src="assets/img/skills/angular.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/typescript.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/javascript.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/html.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/firebase.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/git.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/css.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/rest-api.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/scrum.png" alt=""></div>
            <div class="skills__logo"><img src="assets/img/skills/material-design.png" alt=""></div>
        </div>

        <div class="skills__text">

            <div class="skills__h2">
                <h2>My skills</h2>
            </div>

            <hr>

            <p>I have grown my frontend developments skills that have allowed me to create different real projects.
            </p>

            <a (click)="contact()" class="btn__lightblue skills__btn__desktop">Get in touch</a>
        </div>
        <img class="skills__bgfog" src="assets/img/skills/skills-fog.png" alt="">
    </div>
</section>
<div class="skills__btn__mobile">
    <a (click)="contact()" class="btn__lightblue">Get in touch</a>
</div>