@import "../../styles/settings/_variables.scss";

.skills {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 200px;
    position: relative;
    z-index: 10000;

    @media (max-width: 1555px) {
        padding-bottom: 100px;
    }

    @media (max-width: 762px) {
        padding-bottom: 50px;
    }
}

.skills__content {
    display: flex;

    @media (max-width: 762px) {
        flex-direction: column-reverse;
    }
}

.skills__logos {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    @media (max-width: 762px) {
        justify-content: space-between;
        margin: 0 -10px;
        padding-top: 20px;
    }

    .skills__logo {
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;

        @media (max-width: 1236px) {
            width: 130px;
            height: 130px;
        }

        @media (max-width: 1145px) {
            width: 115px;
            height: 115px;
        }

        @media (max-width: 762px) {
            justify-content: center;
        }

        @media (max-width: 420px) {
            width: 90px;
        }

    }

    img {
        height: 100px;

        @media (max-width: 1236px) {
            height: 82px;
        }

        @media (max-width: 1145px) {
            height: 74px;
        }

        @media (max-width: 762px) {
            height: 100px;
        }
    }
}

.skills__text {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 475px;
    flex-shrink: 0;
    margin-right: 64px;

    @media (max-width: 1145px) {
        width: 350px;
        margin-right: 0;
    }

    @media (max-width: 762px) {
        margin-left: auto;
    }

    @media (max-width: 420px) {
        width: 100%;
    }


    .skills__h2 {
        text-align: right;

        h2 {
            @media (max-width: 762px) {
                font-size: 54px;
            }
        }
    }

    hr {
        position: absolute;
        right: 0;
        width: 100px;
        border: 0;
        border-top: 8px solid $purple-accent;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 50px;

        @media (max-width: 1145px) {
            width: 50px;
        }

        @media (max-width: 992px) {
            width: 15px;
        }
    }

    p {
        text-align: right;
    }

    a {
        align-self: center;
        margin-top: 64px;
    }

    // .skills__btn {
    //     margin-top: 64px;  
    //     display: flex;
    //     align-items: center;
    // }
}

.skills__btn__desktop {
    @media (max-width: 762px) {
        display: none;
    }
}

.skills__btn__mobile {
    display: flex;
    justify-content: center;

    @media (min-width: 763px) {
        display: none;
    }
}

.skills__bgfog {
    position: absolute;
    left: 0;
    z-index: -10;

    @media (max-width: 762px) {
        width: 200px;
        margin-bottom: 300px;
    }
}