<section class="skills noSelect">
    <div class="anchor" id="skills"></div>
    <div class="container skills__content">

        <div class="skills__logos">
            <div class="skills__logo"><img src="assets/img/webp/skills/angular.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/typescript.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/javascript.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/html.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/firebase.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/git.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/css.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/rest-api.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/scrum.webp" alt=""></div>
            <div class="skills__logo"><img src="assets/img/webp/skills/material-design.webp" alt=""></div>
        </div>

        <div class="skills__text">

            <div class="skills__h2">
                <h2>My skills</h2>
            </div>

            <hr>

            <p>I have grown my frontend developments skills that have allowed me to create different real projects.
            </p>

            <a (click)="contact()" class="btn__lightblue skills__btn__desktop">Get in touch</a>
        </div>
        <img class="skills__bgfog" src="assets/img/webp/skills/skills-fog.webp" alt="">
    </div>
</section>
<div class="skills__btn__mobile">
    <a (click)="contact()" class="btn__lightblue">Get in touch</a>
</div>