@import "../../styles/settings/_variables.scss";

.skills {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.skills__content {
    display: flex;
}

.skills__logos {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .skills__logo {
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;

        @media (max-width: 1236px) {
            width: 130px;
            height: 130px;
        }

        @media (max-width: 1145px) {
            width: 115px;
            height: 115px;
        }
    }

    img {
        height: 100px;

        @media (max-width: 1236px) {
            height: 82px;
        }

        @media (max-width: 1145px) {
            height: 74px;
        }
    }
}

.skills__text {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 475px;
    flex-shrink: 0;
    margin-right: 64px;

    @media (max-width: 1145px) {
        width: 350px;
        margin-right: 0;
    }


    .skills__h2 {
        text-align: right;
    }

    hr {
        position: absolute;
        right: 0;
        width: 100px;
        border: 0;
        border-top: 8px solid $purple-accent;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 50px;

        @media (max-width: 1145px) {
            width: 50px;
        }
    }

    p {
        text-align: right;
    }

    a {
        align-self: center;
        margin-top: 64px;
    }

    // .skills__btn {
    //     margin-top: 64px;  
    //     display: flex;
    //     align-items: center;
    // }
}

.skills__bgfog {
    position: absolute;
    left: 0;
    z-index: -10;
}