<section class="skills" id="skills">
    <div class="container">

        <div class="skills__logos">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
            <img src="assets/img/skills/angular.png" alt="">
        </div>

        <div class="skills__text">
            <h2>My skills</h2>
            <div>I have grown my frontend developments skills that have allowed me to create different real projects.
            </div>
            <a class="btn__lightblue">Let's talk</a>
        </div>

    </div>
</section>