@import "../../styles/settings/_variables.scss";

.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__section {
    background-color: $dark-blue-bg;
    height: 100vh;
}

.hero__content {
    display: flex;
}

.hero__picture {
    position: relative;
    height: 705px;
    flex: 1;
}

.bgfog__1 {
    position: absolute;
    height: 548px;
}

.photo__portrait {
    position: absolute;
    top: 0;
    z-index: 100;
}

.hero__text {
    width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 1000;

    button {
        margin-top: 32px;
    }
}

.hero__me {
    rotate: (-90deg);
    font-size: 64px;
    height: fit-content;
    margin-top: 45px;
    margin-right: -8px;
    text-shadow: black 0 0 2px;
}

.hero__intro {
    display: flex;
}

.hero__name {
    h1 {
        margin: 0;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 68px;
        letter-spacing: -0.01em;
        text-shadow: black 0 0 2px;
    }

    h2 {
        margin: -16px 0 0 0;
        font-size: 58px;
        color: #4B47FF;
        text-transform: uppercase;
    }
}

.hero__footer {
    z-index: 10000;
    position: relative;
}

.hero__contact {
    z-index: 10000;
}

.hero__scroll__down {
    z-index: 10000;
}

.hero__transition {
    position: relative;

    img {
        position: absolute;
        margin-top: -380px;
        width: 100%;
        z-index: 100;
    }
}