@import "../../styles/settings/_variables.scss";

.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__section {
    background-color: $dark-blue-bg;
    height: 100vh;
}

.hero__content {
    display: flex;

    img {
        width: 646px;
        height: 705px;
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    button {
        margin-top: 32px;
    }
}

.hero__me {
    rotate: (-90deg);
    font-size: 64px;
    height: fit-content;
    margin-top: 45px;
    margin-right: -8px;
}

.hero__intro {
    display: flex;
}

.hero__name {
    h1 {
        margin: 0;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 68px;
    }

    h2 {
        margin: -16px 0 0 0;
        font-size: 58px;
        color: #4B47FF;
        text-transform: uppercase;
    }
}