<section class="portfolio noSelect" id="portfolio">
    <div class="container">
        <div class="portfolio__headline">
            <h2>Portfolio</h2>
            <hr>
            <p>This page is a sample of my work - please feel free to try them out.
            </p>
        </div>

        <div class="portfolio__examples">

            <div class="portfolio__examples__picleft">
                <div class="portfolio__examples__picleft__pic portfolio__all__images">
                    <img src="assets/img/portfolio/elpolloloco-laptop.png" alt="">
                </div>
                <div class="portfolio__examples__picleft__text portfolio__all__texts">
                    <h3>El Pollo Loco</h3>
                    <h4>JavaScript | HTML | CSS</h4>
                    <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to collect the bottles and defeat the boss.
                    </p>
                    <div class="portfolio__buttons">
                        <button class="portfolio__buttons__live portfolio__all__buttons"><a target="_blank" href="https://projects.cwgermany.de/da/11_modul11/el_pollo_loco_v2/index.html">Live test</a></button>
                        <button class="portfolio__buttons__github portfolio__all__buttons"><a target="_blank" href="https://github.com/43and18zeroes/el-pollo-loco-v2">Github</a></button>
                    </div>
                </div>
            </div>

            <div class="portfolio__examples__picright">
                <div class="portfolio__examples__picright__text portfolio__all__texts">
                    <h3>Pokédex</h3>
                    <h4>Api | JavaScript | HTML | CSS</h4>
                    <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.
                    </p>
                    <div class="portfolio__buttons">
                        <button class="portfolio__buttons__live portfolio__all__buttons"><a target="_blank" href="https://projects.cwgermany.de/da/09_modul09/pokedex/index.html">Live test</a></button>
                        <button class="portfolio__buttons__github portfolio__all__buttons"><a target="_blank" href="https://github.com/43and18zeroes/Pokedex">Github</a></button>
                    </div>
                </div>
                <div class="portfolio__examples__picright__pic portfolio__all__images">
                    <img src="assets/img/portfolio/pokedex-laptop.png" alt="">
                </div>
            </div>

            <img class="portfolio__darkbgfog" src="assets/img/portfolio/d-blue-2-p.png" alt="">

            <!-- <div class="portfolio__examples__picleft">
                <div class="portfolio__examples__picleft__pic portfolio__all__images">
                    <img src="assets/img/portfolio/ringoffire-laptop.png" alt="">
                </div>
                <div class="portfolio__examples__picleft__text portfolio__all__texts">
                    <h3>Ring of Fire</h3>
                    <h4>JavaScript | HTML | CSS</h4>
                    <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to collect the bottles and defeat the boss.
                    </p>
                    <div class="portfolio__buttons">
                        <button class="portfolio__buttons__live portfolio__all__buttons"><a target="_blank" href="https://ring-of-fire.cwgermany.de/">Live test</a></button>
                        <button class="portfolio__buttons__github portfolio__all__buttons"><a target="_blank" href="https://github.com/43and18zeroes/ringoffire">Github</a></button>
                    </div>
                </div>
            </div>

            <div class="portfolio__examples__picright">
                <div class="portfolio__examples__picright__text portfolio__all__texts">
                    <h3>Pokédex</h3>
                    <h4>Api | JavaScript | HTML | CSS</h4>
                    <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.
                    </p>
                    <div class="portfolio__buttons">
                        <button class="portfolio__buttons__live portfolio__all__buttons"><a target="_blank" href="#">Live test</a></button>
                        <button class="portfolio__buttons__github portfolio__all__buttons"><a target="_blank" href="#">Github</a></button>
                    </div>
                </div>
                <div class="portfolio__examples__picright__pic portfolio__all__images">
                    <img src="assets/img/portfolio/pokedex-laptop.png" alt="">
                </div>
            </div> -->

            <img class="portfolio__lightbgfog" src="assets/img/portfolio/l-blue-2.png" alt="">
            
        </div>
        
    </div>
</section>