<section class="portfolio noSelect" id="portfolio">
    <div class="container">
        <div class="portfolio__headline">
            <h2>Portfolio</h2>
            <hr>
            <p>This page is a sample of my projects - feel free to try them out.
            </p>
        </div>

        <div class="portfolio__examples">

            <div class="portfolio__examples__picleft">
                <div class="portfolio__examples__picleft__pic portfolio__all__images">
                    <img src="assets/img/webp/portfolio/laptop-join2.webp" alt="">
                </div>
                <div class="portfolio__examples__picleft__text portfolio__all__texts">
                    <h3>Join - Kanban Board</h3>
                    <h4>Angular Material | Firebase | SCSS</h4>
                    <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.
                    </p>
                    <div class="portfolio__buttons">
                        <a class="portfolio__buttons__live portfolio__all__buttons" target="_blank"
                            href="https://cwgermany.de/developerakademie/15_modul15/join2/#/">Live
                            test</a>
                        <a class="portfolio__buttons__github portfolio__all__buttons" target="_blank"
                            href="https://github.com/43and18zeroes/join2">Github</a>
                    </div>
                </div>
            </div>

            <div class="portfolio__examples__picright">
                <div class="portfolio__examples__picright__text portfolio__all__texts">
                    <h3>Sync Space - Slack Clone</h3>
                    <h4>Angular Material | Firebase | SCSS</h4>
                    <p>A chat app for business. Inspired by Slack with a professional and unique design.
                    </p>
                    <div class="portfolio__buttons">
                        <a class="portfolio__buttons__live portfolio__all__buttons" target="_blank"
                            href="https://cwgermany.de/developerakademie/15_modul15/slack/sync-space/">Live
                            test</a>
                        <a class="portfolio__buttons__github portfolio__all__buttons" target="_blank"
                            href="https://github.com/43and18zeroes/sync-space">Github</a>
                    </div>
                </div>
                <div class="portfolio__examples__picright__pic portfolio__all__images">
                    <img src="assets/img/webp/portfolio/laptop-syncspace.webp" alt="">
                </div>
            </div>

            <div class="portfolio__examples__picleft">
                <div class="portfolio__examples__picleft__pic portfolio__all__images">
                    <img src="assets/img/webp/portfolio/elpolloloco-laptop.webp" alt="">
                </div>
                <div class="portfolio__examples__picleft__text portfolio__all__texts">
                    <h3>El Pollo Loco</h3>
                    <h4>JavaScript | HTML | CSS</h4>
                    <p>A Jump-and-Run game based on an object-oriented approach. Help Pepe to collect the bottles
                        and defeat the boss.
                    </p>
                    <div class="portfolio__buttons">
                        <a class="portfolio__buttons__live portfolio__all__buttons" target="_blank"
                            href="https://projects.cwgermany.de/da/11_modul11/el_pollo_loco_v2/index.html">Live
                            test</a>
                        <a class="portfolio__buttons__github portfolio__all__buttons" target="_blank"
                            href="https://github.com/43and18zeroes/el-pollo-loco-v2">Github</a>
                    </div>
                </div>
            </div>

            <img class="portfolio__darkbgfog" src="assets/img/webp/portfolio/d-blue-2-p.webp" alt="">

            <!-- <div class="portfolio__examples__picleft">
                <div class="portfolio__examples__picleft__pic portfolio__all__images">
                    <img src="assets/img/webp/portfolio/ringoffire-laptop.webp" alt="">
                </div>
                <div class="portfolio__examples__picleft__text portfolio__all__texts">
                    <h3>Ring of Fire</h3>
                    <h4>Firebase | Angular | TS</h4>
                    <p>A card game with connection to a Firebase backend. Multiplayer in real time!
                    </p>
                    <div class="portfolio__buttons">
                        <a class="portfolio__buttons__live portfolio__all__buttons" target="_blank"
                            href="https://ring-of-fire.cwgermany.de/">Live test</a>
                        <a class="portfolio__buttons__github portfolio__all__buttons" target="_blank"
                            href="https://github.com/43and18zeroes/ringoffire">Github</a>
                    </div>
                </div>
            </div> -->

            <img class="portfolio__lightbgfog" src="assets/img/webp/portfolio/l-blue-2.webp" alt="">

        </div>

    </div>
</section>