@import "../../styles/settings/_variables.scss";

.portfolio {
    padding-top: 100px;
}

.portfolio__headline {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        z-index: 10;
        background-color: $dark-blue-bg;
        padding: 0 32px;
    }

    hr {
        position: absolute;
        right: 0;
        width: 75%;
        border: 0;
        border-top: 8px solid $purple-accent;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 130px;

        @media (max-width: 1145px) {
            width: 80%;
            margin-top: 110px;
        }
    }

    p {
        margin-block-start: 0;
    }
}

.portfolio__examples__picleft {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .portfolio__examples__picleft__pic {
        width: 620px;
        height: 339px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .portfolio__examples__picleft__text {
        max-width: 513px;
        padding-top: 16px;
        padding-left: 16px;

        h3 {
            font-size: 32px;
            color: $purple-accent;
            font-weight: 700;
        }

        h4 {
            font-size: 23px;
            font-weight: 400;
            color: $light-blue;
        }

        .portfolio__buttons {

            }
        }
    }
