@import "../../styles/settings/_variables.scss";

$portfolio-examples-distances: 100px;
$portfolio-examples-distances-medium: 50px;
$portfolio-examples-distances-small: 25px;
$portfolio-examples-large-extra-padding: 96px;

h3 {
    font-size: 32px;
    color: $purple-accent;
    font-weight: 700;
}

h4 {
    font-size: 23px;
    font-weight: 400;
    color: $light-blue;
    line-height: 0;
}

.portfolio__buttons__live {
    font-size: 22px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    display: block;
    background-color: $purple-accent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: white;
    text-decoration: none;
    white-space: nowrap;

    @media (hover: hover) {
        &:hover {
            background-color: $light-blue;
        }
    }
}

.portfolio__buttons__github {
    font-size: 23px;
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid $light-blue;
    display: block;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: $light-blue;
        }
    }
}

.portfolio {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 762px) {
        padding-bottom: 50px;
    }
}

.portfolio__headline {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        z-index: 10;
        background-color: $dark-blue-bg;
        padding: 0 32px;
    }

    h2 {
        @media (max-width: 762px) {
            font-size: 54px;
            padding: 0 16px;
        }
    }

    hr {
        position: absolute;
        right: 0;
        width: 75%;
        border: 0;
        border-top: 8px solid $purple-accent;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 130px;

        @media (max-width: 1145px) {
            width: 80%;
            margin-top: 110px;
        }

        @media (max-width: 762px) {
            width: 90%;
            margin-top: 96px;
        }

        @media (max-width: 420px) {
            width: 95%;
            margin-top: 96px;
        }
    }

    p {
        margin-block-start: 0;
    }
}

.portfolio__examples {
    img {
        width: 400px;

        @media (max-width: 1240px) {
            width: 350px;
        }
    }
}

.portfolio__examples__picleft {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    @media (max-width: 992px) {
        flex-direction: column;
        padding-top: 75px;
        align-items: center;
    }

    .portfolio__examples__picleft__pic {
        width: 50%;
        min-height: 339px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: $portfolio-examples-distances;

        @media (max-width: 1240px) {
            margin-right: $portfolio-examples-distances-medium;
        }

        @media (max-width: 1128px) {
            margin-right: $portfolio-examples-distances-small;
        }

        @media (max-width: 992px) {
            width: 100%;
            justify-content: center;
            margin-right: 0;
            min-height: auto;
        }
    }

    .portfolio__examples__picleft__text {
        width: 50%;
        padding-top: 16px;
        margin-left: $portfolio-examples-distances;

        @media (max-width: 1240px) {
            margin-left: $portfolio-examples-distances-medium;
        }

        @media (max-width: 1128px) {
            margin-left: $portfolio-examples-distances-small;
        }

        @media (min-width: 1240px) {
            p {
                padding-right: $portfolio-examples-large-extra-padding;
            }
        }

        @media (max-width: 992px) {
            width: 100%;
        }

        .portfolio__buttons {
            display: flex;
            padding-top: 16px;

            @media (max-width: 992px) {
                justify-content: center;
            }

            .portfolio__buttons__live {
                margin-right: 50px;
            }
        }
    }
}

.portfolio__examples__picright {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
        padding-top: 75px;
    }

    .portfolio__examples__picright__pic {
        width: 50%;
        min-height: 339px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: $portfolio-examples-distances;

        @media (max-width: 1240px) {
            margin-left: $portfolio-examples-distances-medium;
        }

        @media (max-width: 1128px) {
            margin-left: $portfolio-examples-distances-small;
        }

        @media (max-width: 992px) {
            width: 100%;
            justify-content: center;
            margin-right: 0;
            min-height: auto;
        }
    }

    .portfolio__examples__picright__text {
        width: 50%;
        padding-top: 16px;
        margin-right: $portfolio-examples-distances;
        text-align: right;

        @media (max-width: 1240px) {
            margin-right: $portfolio-examples-distances-medium;
        }

        @media (max-width: 1128px) {
            margin-right: $portfolio-examples-distances-small;
        }

        @media (min-width: 1240px) {
            p {
                padding-left: $portfolio-examples-large-extra-padding;
            }
        }

        @media (max-width: 992px) {
            width: 100%;
            align-self: center;

            p {
                text-align: center !important;
            }
        }

        p {
            text-align: right;
        }

        .portfolio__buttons {
            display: flex;
            justify-content: flex-end;
            padding-top: 16px;

            @media (max-width: 992px) {
                justify-content: center;
            }

            .portfolio__buttons__github {
                margin-left: 50px;
            }
        }
    }
}


.portfolio__all__images {
    @media (max-width: 992px) {
        margin: 0 !important;

        img {
            width: 490px;
        }
    }

    @media (max-width: 564px) {
        img {
            width: 445px;
        }
    }

    @media (max-width: 514px) {
        img {
            width: 390px;
        }
    }

    @media (max-width: 460px) {
        img {
            width: 300px;
        }
    }

    @media (max-width: 410px) {
        img {
            width: 280px;
        }
    }
}

.portfolio__all__texts {
    @media (max-width: 992px) {
        width: 100%;
        align-items: center;
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-width: 500px;

        h3,
        h4,
        p {
            text-align: center;
        }
    }

    @media (max-width: 992px) {
        h3 {
            margin-bottom: 16px;
        }
        h4 {
            line-height: 1.5;
            margin: 0;
        }
    }

    @media (max-width: 400px) {
        h4 {
            font-size: 20px;
        }
    }
}

@media (max-width: 406px) {
    .portfolio__all__buttons {
        margin: 0 9px !important;
        font-size: 18px;
    }
}

.portfolio__darkbgfog {
    position: absolute;
    left: 0;
    margin-top: -600px;
    z-index: -10;

    @media (max-width: 1600px) {
        // width: 500px;
        // margin-top: 0;
        display: none;
    }

    // @media (max-width: 512px) {
    //     width: 250px !important;
    //     margin-top: 64px;
    // }
}

.portfolio__lightbgfog {
    position: absolute;
    right: 0;
    margin-top: -700px;
    z-index: -10;

    @media (max-width: 992px) {
        width: 250px !important;
        margin-top: -850px;
    }

    @media (max-width: 512px) {
        width: 150px !important;
        margin-top: -650px;
    }
}