/* You can add global styles to this file, and also import other style files */
@import "./styles/settings/_variables.scss";

@font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Material Icons Rounded';
    font-style: normal;
    font-weight: 200;
    src: url("assets/fonts/material-design-icons/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2");
}

.material-symbols-rounded {
    font-family: 'Material Icons Rounded';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';
    color: $primary-text;
    background-color: $dark-blue-bg;
    font-weight: 400;
}

.d-none {
    display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.container {
    width: 1440px;
    padding: 0 $padding-container;

    @media (max-width: 992px) {
        padding: 0 25px;
    }

    @media (max-width: 426px) {
        width: 90%;
    }
}

h2 {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    display: inline;

    @media (max-width: 1150px) {
        font-size: 72px;
    }
}

p {
    font-size: 16px;
    line-height: 19.2px;
}

.btn__lightblue {
    padding: 15px 30px;
    background-color: $light-blue;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 23px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.1);
            background-color: $purple-accent;
        }
    }
}

@media (max-width: 992px) {
    .hidden__mobile {
        display: none !important;
    }
}

@media (min-width: 993px) {
    .hidden__desktop {
        display: none !important;
    }
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

.anchor {
    position: absolute;
    margin-top: -100px;
    visibility: hidden;
}